.footer {
    grid-column: full-start / full-end;
    background: $color-grey-dark-1;
    color: $color-tertiary;
    font-size: 2.5rem;
    padding: 5rem 5rem;
    // height: 10vh;

    display: flex;
    justify-content: space-between;

   
    &__legal {
        display: inline-block;
    }

    &__social {
        display: inline-block;
    }

    &__icon{
        fill: $color-tertiary;
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 3rem;
        transition: all .2s;

        &:hover {
            transform: translateY(-10%);
        }
    }

}