.header {
  grid-column: full-start / full-end;

  background: linear-gradient(
    to right bottom,
    $color-secondary,
    $color-secondary-dark
  );

  display: grid;
  grid-template-columns: 1fr [header-content-start] minmax(50rem, min-content) [header-content-end] 1fr;
  grid-template-rows: 80%;

  align-items: center;
  justify-items: left;
  text-align: center;

  &__icon {
    grid-column: header-content-start / header-content-end;
    margin: auto;
    grid-row: 2;

    fill: $color-secondary;
    height: 4rem;
    width: 4rem;
    padding: 1rem;

    background: $color-secondary-light;
    border-radius: 50%;

    transition: all 0.3s;

    &:hover,
    &:active {
      // fill: $color-primary;
      background: $color-tertiary;
      height: 4.5rem;
      width: 4.5rem;
      transform: translateY(10%);
      box-shadow: $shadow-light-2;
      fill: $color-grey-light-1;
    }
  }

  &__text {
    font-family: $font-display;
    color: $color-primary;
    font-weight: 400;
    font-size: 4rem;

    grid-column: header-content-start / header-content-end;
  }
}
