.info__left-gutter {
  background: linear-gradient(
    to right,
    $color-primary,
    rgba($color-white, 1) 20%
  );
  grid-column: full-start / span 1;
}

.info__right-gutter {
  background: linear-gradient(
    to left,
    $color-primary,
    rgba($color-white, 1) 20%
  );
  grid-column: -2 / -1;
}

.info {
    padding: 10vh;
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(2, minmax(25rem, 1fr));
}
