.intro__left-gutter {
    background: linear-gradient(to right, $color-primary, rgba($color-grey-light-2, 1) 20%);
    grid-column: full-start / span 1;
}

.intro__right-gutter {
    background: linear-gradient(to left, $color-primary, rgba($color-grey-light-2, 1) 20%);
    grid-column: -2 / -1;
}

.intro {
    padding: 10vh 0;
    background: rgba($color-grey-light-2, 1);
    color: $color-grey-dark-2;
    font-family: $font-primary;    
    grid-column: 2 / -2;

    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    grid-column-gap: 2rem;

}

