.intro__left-gutter {
    background: linear-gradient(to right, $color-primary, rgba($color-primary-dark-2, .9) 20%);
    grid-column: full-start / span 1;
}

.intro__right-gutter {
    background: linear-gradient(to left, $color-primary, rgba($color-primary-dark-2, .9) 20%);
    grid-column: -2 / -1;
}

.intro {
    padding: 10vh 0;
    background: rgba($color-primary-dark-2, .9);
    color: $color-grey-light-1;
    font-family: $font-primary;    
    grid-column: 2 / -2;

    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr))

}

