.feature {

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__title {
        font-size: 2rem;
    }

    &__icon {
        fill: $color-tertiary;
        height: 4rem;
        width: 4rem;
        margin: auto 0;
        transform: translate(25%, -10%);

    }

    &__text {
        font-size: 1.7rem;
        grid-column: 2 / 3;

    }
}