// COLOR VARIABLES

$color-primary: rgba(100, 87, 166, 1);
$color3: rgba(125, 122, 188, 1);
$color2: rgba(239, 118, 122, 1);
$color1: rgba(35, 240, 199, 1);
$color5: rgba(255, 227, 71, 1);




$color-primary: #ef233c;
$color-primary-light: #f35f71;
$color-primary-dark: ;
$color-primary-dark-2: ;

$color-secondary: #2b2d42;
$color-secondary-light: #646675; 
$color-secondary-dark: #181924;

$color-tertiary: #d90429;


$color-grey-light-1: #edf2f4;
$color-grey-light-2: #adb1b2;

$color-grey-dark-1: #8d99ae;
$color-grey-dark-2: #67707f;

// WHITES AND BLACKS
$color-black: #000;


// SHADOWS
$shadow-dark: 0 2rem 6rem rgba(0,0,0, .8);
$shadow-light-1: 0 2rem 5rem rgba(0,0,0,.06);
$shadow-light-2: 0 0 2rem rgba($color-grey-light-1, .4);